streamlit==1.32.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
fair-esm==1.0.3
numpy>=1.26.0
setuptools>=69.0.0
typing-extensions>=4.10.0
tqdm==4.65.0
requests==2.31.0
python-dotenv==1.0.0
secure-smtplib==0.1.1